@import url("components/banner.css");
@import url("components/button.css");
@import url("components/videos.css");
@import url("components/footer.css");
@import url("components/portfoliocard.css");

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.about {
  background-color: $white;
  color: $black;
  border-radius: 5px;
  padding: 50px 100px 50px 100px;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.about-text {
  align-self: center;
}

.about-text * {
  font-size: 40px;
}

.about-img {
  background-image: url("https://lh3.googleusercontent.com/mYF6yOdtpVBoM-X0wDsyvW3BGSXqC9xmdRxTLesUMPkbOfnzi1dotbNeSnl5UzRmcuKA5qQ8uN7k-hQdB9WSY-qvwyz5qKApDf6sd4KR1a3xYDu4zhun8NFVG6rT6buXIdV0cWLPiXbFipd24SYh219kTMU3qfFJcuVQD5YO45rBxIvsUjTr64zGQ3pvWTYLdZZn4BFXqWQpFJ8G53LcSTH-h5OiKQXqTlKbnKoOYtQMHM0H8UlUqNJHLjmUWkEWNw2S2J3tY2jaOqaz6xEU8wfHngXaCtOETzsIzqLYuWY9zW_tK84K_AFBk0ECLlqPcCkLToBnDffDpuEi-ZcUZn4P5Wa0s126dIjnTNNgz7sYWIXdT4axP8DGJmOx3IlM_8uGMGludgxi_ScCOol_KuPDnr7IWJRPwb4WlKehShAUoSJG_66LM8x-K1UXOLiKvy3XallKpZ0iLoz7pT4-iSr0asqQyvJBjnyY-06pF1E_GRSGP1gmN0QtcM6xXCkOtpcSyOqsoVRm4alnDBLpmUfDC13uXZweS6gjBol2z9wPAAaPhzL0sfTw-nj26mWfvzRLRslreF85D5X8vnmEHIz4t6SQ4xagk7lHtXN24Vif-PEFQ_NL1o8d9LoPe0wy8MudTtYmevjZ0EObySiZsNiRMJMqVeRtRFypU1yvvgp50OQZr6SAF16_69ekmg=w1935-h1450-no");
  height: 350px;
  width: 400px;
  position: relative;
  display: grid;
  justify-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
}

.about h2 {
  margin-top: 50px;
  font-size: 40px;
  text-align: center;
}

.about p {
  margin-top: 10px;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
