@import url("components/navbar.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");

body {
    font-family: 'Poppins', sans-serif;
}

.showcase .showcase-text {
    padding: 3rem;
  }
  
.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}
  
#banner-text {
  color: black;
}
