<div class="navbar navbar-expand-sm d-flex justify-content-between">
    <div class="ml-3">
    <a class="navbar-brand" href="https://www.facebook.com/marcos.cannabrava"><img src="img/facebook-f-brands.svg" /></a>
    <a class="navbar-brand" href="https://www.instagram.com/marcoscannabrava/"><img src="img/instagram-brands.svg" /></a>
    <a class="navbar-brand" href="https://twitter.com/mpcannabrava"><img src="img/twitter-brands.svg" /></a>
    <a class="navbar-brand" href="https://www.linkedin.com/in/marcos-cannabrava/"><img src="img/linkedin-in-brands.svg" /></a>
    <a class="navbar-brand ml-4" href="/" style="color: black;">project demos</a>
    </div>
    <img class="avatar mr-3" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="img/head.jpg" />
</div>