.button {
  display: block;
  background-color: blue;
  width: 300px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  color: #fff;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button span,
.button .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
}
.button span {
  width: 72%;
  line-height: inherit;
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.button span:after {
  content: '';
  background-color: gray;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.button .icon {
  width: 28%;
  right: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.button .icon .plane {
  height: 36px;
}
.button .icon .check {
  display: none;
}
.button.success span, .button:hover span {
  left: -72%;
  opacity: 0;
}
.button.success .icon, .button:hover .icon {
  width: 100%;
}
.button.success .icon .fa, .button:hover .icon .fa {
  font-size: 45px;
}
.button.success {
  background-color: #27ae60;
}
.button.success .icon .plane {
  display: none;
}
.button.success .icon .check {
  display: inline-block;
}
.button:hover {
  opacity: .9;
}
.button:hover .icon .plane {
  height: 46px;
}
.button:active {
  opacity: 1;
}


.btn-portfolio {
  color: #212529;
  font-size: 20px;
}

.btn-portfolio:hover {
  color: #212529;
  font-size: 28px;
}
.btn-portfolio img:hover {
  height: 80px;
}