.navbar {
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.05);
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand * {
  height: 20px;
  width: 40px;
}

.navbar .navbar-brand *:hover {
  height: 30px;
  font-size: 40px;
}
